/* DEFAULTS
----------------------------------------------------------*/

@import "bootstrap.min.css";

body 
{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

footer 
{
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 4ex 0;
}

.colophon 
{
    padding-top: 3ex;
    font-size: 10px;
    color: #aaa;
    line-height: 1.5
}

.colophon strong 
{
    font-size: 12px;
}

footer a:link, footer a:visited 
{
    color: #666;
}

.pet a 
{
    text-align: center;
    display: block;
}

.pet 
{
    border: 1px solid #eee;
    border-left: none; border-right: none;
    padding: 2ex 0;
}

.pet h5 
{
    color: #666;
    font-weight: normal;
}

div.main 
{
    margin: 3ex 0;
}

div#submenu
{
    text-align: center;
}

#aspnetForm 
{
    margin: 0;
}

hgroup h1,
hgroup h2,
hgroup h3 
{
    margin-bottom: 0;
}

hgroup h4,
hgroup h5,
hgroup h6
{
    margin-top: 0;
}

.nav-tabs a:link, .nav-tabs a:visited
{
    color: #597A36;
}

.nav-tabs 
{
    border-bottom-color: #597A36;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus 
{
    border-color: #597A36;
    border-bottom-color: transparent;
    color: #597A36;
    font-weight: bold;
}

.nav-tabs li a:hover 
{
    border-bottom-color: #597A36;
}

h1
{
    color: #597A36;
}

h1 small { color: #333; text-align: right; float: right; margin-top: 2ex; }

.form-inline div.controls 
{
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 2ex;
}
.controls-row.with-space 
{
    margin-top: 2ex;
}